body{
    background-color: rgb(252, 252, 252);
}
.navbar {
    font-size: 30px;
    background-color:rgb(226, 133, 57);
    .fas {
        margin-right: 20px;
    }
}
img{
    margin-top: 30px;
}
.container-fluid{
    margin-top: 100px;
}
.card{
    margin: 30px;
    height: 35rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
        // transform: scale(1.15);
        box-shadow: 0px 0px 20px 10px rgba(119,119,119,0.8);
    }
}
