body {
  background-color: #fcfcfc;
  width: auto;
}

.navbar {
  font-size: 30px;
  background-color: #e28539;
}
.navbar .fas {
  margin-right: 20px;
}

img {
  margin-top: 30px;
}

.container-fluid {
  margin-top: 100px;
}

.card_item_accueil {
  margin: 3rem;
  height: 35rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.card_item_accueil:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 680px) {
  .card {
    height: 30rem;
  }
}
@media screen and (max-width: 420px) {
  .card {
    height: 26rem;
  }
}
.info_product {
  text-align: center;
  margin-top: 5rem;
  font-size: 20px;
}
.info_product #name {
  font-size: 30px;
}

.command_line {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 18px;
  font-weight: bold;
}
.command_line button {
  background-color: #ffffff;
  margin-right: 1rem;
  width: 70px;
  height: 40px;
  color: black;
  text-decoration: none;
  transition-duration: 0.4s;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}
.command_line button:hover {
  background-color: #e28539;
  color: white;
}
.command_line #add_basket {
  margin-top: 2rem;
  width: 110px;
  height: 70px;
  text-align: center;
}

#basket {
  width: 95%;
  margin: 2rem;
}

.teddy_product {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  margin-top: 2rem;
  font-size: 20px;
}
.teddy_product .wrap_teddy_image {
  background-color: pink;
  margin: 0;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.teddy_product .container_teddy_infos {
  top: 50%;
}
.teddy_product .teddy_name {
  margin-left: 2rem;
}
.teddy_product .teddy_price {
  margin-left: 2rem;
}
.teddy_product .quantity {
  margin-left: 2rem;
}
.teddy_product .teddy_product_button {
  align-items: center;
  display: flex;
  top: 50%;
}
.teddy_product .teddy_product_button button {
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  color: black;
  text-decoration: none;
  transition-duration: 0.4s;
}
.teddy_product button:hover {
  background-color: #e28539;
  color: white;
}

#container_form {
  margin-top: 5rem;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  background-color: #ececec;
  margin-left: 2rem;
  height: 58rem;
  width: 35rem;
}
#container_form h2 {
  text-align: center;
  margin-top: 2rem;
}

.was-validated {
  margin: 4rem;
}
.was-validated label {
  font-size: 18px;
  font-weight: bold;
}
.was-validated .valid-feedback {
  font-size: 14px;
  font-weight: bold;
}
.was-validated .invalid-feedback {
  font-size: 14px;
  font-weight: bold;
}
.was-validated #send_form {
  margin-top: 1.5rem;
  background-color: #ffffff;
  margin-right: 1rem;
  width: 200px;
  height: 40px;
  border: 1px solid black;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  color: black;
  text-decoration: none;
  transition-duration: 0.4s;
}
.was-validated #send_form:hover {
  background-color: #e28539;
  color: white;
}

.container_message_confirmation {
  margin-left: 5rem;
  margin-top: 3rem;
}
.container_message_confirmation h1 {
  margin-bottom: 3rem;
}
.container_message_confirmation p {
  font-size: 18px;
}

/*
.teddy_product[data-id-produit="5beaa8bf1c9d440000a57d94"]{
    background-color: indianred;
}
*/
button, input[type=submit] {
  border-radius: 50rem !important;
}
button::first-letter, input[type=submit]::first-letter {
  text-transform: uppercase !important;
}

/*# sourceMappingURL=style.css.map */
