body {
  background-color: #fcfcfc;
  width: auto;
  padding-top: 7rem;
}

header {
  background-color: #e28539;
  display: flex !important;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 1rem 2rem;
  min-height: 7rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
  }
}

#logo {
  font-size: 3rem;
}
@media screen and (max-width: 800px) {
  #logo {
    font-size: 2rem;
  }
}

#logo_nom {
  text-transform: uppercase;
  font-family: "Indie Flower", cursive;
  padding-left: 3rem;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  #logo_nom {
    font-size: 2rem;
    padding-left: 1rem;
  }
}

#panier {
  text-transform: uppercase;
  font-family: "Indie Flower", cursive;
  font-size: 3rem;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  #panier {
    font-size: 2rem;
  }
}
@media screen and (max-width: 700px) {
  #panier {
    align-self: flex-end;
  }
}
#panier > span {
  min-width: 7rem;
}

img {
  margin-top: 30px;
}

.container-fluid {
  margin-top: 100px;
}
@media screen and (max-width: 500px) {
  .container-fluid {
    margin-top: 20px;
  }
}

.card_item_accueil {
  margin: 3rem;
  height: 35rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.card_item_accueil:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 680px) {
  .card {
    height: 30rem;
  }
}
@media screen and (max-width: 420px) {
  .card {
    height: 26rem;
  }
}
.info_product {
  text-align: center;
  margin-top: 5rem;
  font-size: 20px;
}
.info_product #name {
  font-size: 30px;
}

#menu_choose_color label {
  margin-left: 2rem;
}

@media screen and (max-width: 365px) {
  #menu_choose_color label {
    margin-left: 0;
  }
}
.command_line {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10rem;
}
.command_line #add_basket {
  margin-top: 2rem;
  width: 110px;
  height: 70px;
  text-align: center;
}

button {
  background-color: #ffffff;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  color: black;
  text-decoration: none;
  transition-duration: 0.4s;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
  outline: none !important;
}

button:hover {
  background-color: #e28539;
  color: white;
}

button, input[type=submit] {
  border-radius: 50rem !important;
}
button::first-letter, input[type=submit]::first-letter {
  text-transform: uppercase !important;
}

@media screen and (max-width: 385px) {
  button {
    margin-bottom: 2rem;
  }
}
.container_teddy_product {
  margin-top: 5rem;
  display: flex;
  border: 1px white solid;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 15.1rem;
}
.container_teddy_product .teddy_img .wrap_teddy_image {
  width: 15rem;
  height: 15rem;
}
.container_teddy_product .teddy_infos {
  display: flex;
  width: 100%;
}
.container_teddy_product .teddy_infos .teddy_infos_product {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5rem 2rem;
}
.container_teddy_product .teddy_infos .teddy_infos_quantity {
  display: flex;
  padding: 6rem 2rem;
}
@media screen and (max-width: 1000px) {
  .container_teddy_product .teddy_infos .teddy_infos_quantity .teddy_infos_quantity {
    width: 22rem;
  }
}
.container_teddy_product .teddy_infos .teddy_infos_quantity .quantity {
  width: 3rem;
  margin-right: 1rem;
}

@media screen and (max-width: 990px) {
  .container_teddy_product {
    flex-direction: column;
    height: auto;
  }
  .container_teddy_product .teddy_img {
    display: flex;
    justify-content: center;
  }
  .container_teddy_product .teddy_img .wrap_teddy_image {
    width: 15rem;
    height: 15rem;
  }
  .container_teddy_product .teddy_infos {
    flex-direction: column;
  }
  .container_teddy_product .teddy_infos .teddy_infos_product {
    padding: 1rem 1rem;
  }
  .container_teddy_product .teddy_infos .teddy_infos_quantity {
    padding: 1rem 1rem;
    width: auto;
  }
}
#div_total_price {
  padding: 3rem 2rem;
}
@media screen and (max-width: 415px) {
  #div_total_price {
    padding: 1rem 1rem;
  }
}
#div_total_price p {
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-decoration: overline;
}

#string_total_price {
  font-size: 3rem;
}
@media screen and (max-width: 560px) {
  #string_total_price {
    font-size: 2rem;
  }
}
@media screen and (max-width: 415px) {
  #string_total_price {
    font-size: 1.5rem;
  }
}

.wrap_teddy_image {
  margin: 0;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.teddy_quantity {
  margin-left: 15rem;
}

#container_form {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.container_message_confirmation {
  margin-left: 5rem;
  margin-top: 3rem;
}
.container_message_confirmation p {
  font-size: 18px;
}
@media screen and (max-width: 750px) {
  .container_message_confirmation {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .container_message_confirmation {
    text-align: center;
    margin-left: 0rem;
  }
}

#title_confirmation {
  font-size: 3rem;
  padding: 2rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 750px) {
  #title_confirmation {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
